
#hawaii, #arizona, #ibiza, #switzerland {
  display: none;
}

.btn {
  display: block;
}


h1.intro {
  size: 35px;
  color: blue;
  text-align: center;
  background-color: aqua;
}

h2.intro {
  size: 45px;
  color: blue;
  text-align: center;
  background-color: orange;
  
}

img.intro {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
