
#hawaii, #arizona, #ibiza, #switzerland {
  display: none;
}

.btn {
  display: block;
}
.inputWidth {
  width: 200px;
}

.background {
  background-color: lavender;
}

h1.intro {
  color: blue;
  text-align: center;
  background-color: aqua;
}

p.vacay {
  font-size: 25px;
  color: black;
  text-align: left;
  font-family: 'Courier New';
}

h2.intro {
  color: black;
  text-align: left;
  font-family: 'Courier New';
  
}

img {
  border-radius: 50%;
  margin: 0 auto;
  
}

.image-wrapper {
  display: inherit;
  text-align: center;
}
